<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard - The Blog Post</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navigation -->
        {{> layouts/navbar}}

        <!-- Main Content -->
        <div class="container">
            <!-- Existing Blog Posts -->
            {{#each userPosts}}
                <div class="post">
                    <h2>{{title}}</h2>
                    <p>{{formatDate created_at}}</p>
                    <p>{{contents}}</p>
                    <a href="/update/{{id}}" class="btn">Edit</a>
                    <a href="/delete/{{id}}" class="btn">Delete</a>
                </div>
            {{/each}}

            <!-- Option to add a new blog post -->
            <a href="/new" class="btn">Add a New Blog Post</a>
        </div>

        <script src="/js/dashboard.js"></script>
    </body>
</html>